<flow-definition plugin="workflow-job">
  <description>Auto Created Pipeline</description>

  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition">
    <script>
pipeline {
    agent any

    stages {

        stage('Hello') {
            steps {
                echo 'Pipeline created automatically'
            }
        }

        stage('Test') {
            steps {
                sh 'echo Running automation test'
            }
        }

    }
}
    </script>
    <sandbox>true</sandbox>
  </definition>

</flow-definition>